body,
html {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: system-ui;
    text-align: center;
    background-color: var(--light);
}

header,
footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: fixed;
    padding: 1rem;
    z-index: 1;
    gap: 1em;
    inset: 0;
}

header {
    bottom: auto;
}

footer {
    top: auto;
}

header>* {
    margin: 0;
}

button {
    text-align: inherit;
    color: inherit;
    background-color: var(--back);
    padding: 0.45rem 1rem;
    margin: 0;
    border: 0;
    border-radius: 0.25rem;
    font-size: inherit;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover);
}

button:hover:active {
    background-color: var(--active);
}

a {
    color: inherit;
}

* {
    box-sizing: border-box;
}